@page "/ratings/details"
@inject LAB7.Components.MoviesDB DB
@using LAB7.Components
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Rating</h4>
    <hr />
    @if (rating is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MovieId</dt>
            <dd class="col-sm-10">@rating.MovieId</dd>
            <dt class="col-sm-2">Value</dt>
            <dd class="col-sm-10">@rating.Value</dd>
            <dt class="col-sm-2">User</dt>
            <dd class="col-sm-10">@rating.User</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@rating.Date</dd>
        </dl>
        <div>
            <a href="@($"/ratings/edit?id={rating.Id}")">Edit</a> |
            <a href="@($"/ratings")">Back to List</a>
        </div>
    }
</div>

@code {
    Rating? rating;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        rating = await DB.DataRating.FirstOrDefaultAsync(m => m.Id == Id);

        if (rating is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
